<!DOCTYPE html>
<html>
<head>
  <title>Bookers2</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-extends">
    <div class="container-fluid">
      <div class="navbar-header navbar-header-extends">
        <a class="navbar-brand navbar-brand-extends " href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li>
          <%= link_to books_path do %>
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Users 
          <% end %>
        </li>
        <li>
          <%= link_to books_total_path do %>
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Books
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do%>
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>logout
          <% end %>
        </li>
        <% else %>
        <li>
          <%= link_to books_welcome_path do%>
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
          <% end %>
        </li>
        <li>
          <%= link_to books_about_path do%>
          <span class="glyphicon glyphicon-link" aria-hidden="true"></span>About
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do%>
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Sign Up
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do%>
          <span class="glyphicon glyphicon-share" aria-hidden="true"></span>login
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <!--  フラッシュメッセージ -->
  <div class="flash">
    <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
  </div>
  <%= yield %>
  <footer>
    CopyRight Infratop.inc
  </footer>
</body>
</html>
